@model List<UdemyCarBook.Dto.ReviewDtos.ResultReviewByCarIdDto>

@{
    var totalReviews = Model.Count;
    var reviewStats = Model
        .GroupBy(x => x.RaytingValue) 
        .Select(g => new
        {
            Stars = g.Key,
            Count = g.Count(),
            Percent = totalReviews == 0 ? 0 : (int)Math.Round((double)g.Count() / totalReviews * 100)
        })
        .OrderByDescending(x => x.Stars)
        .ToList();
}

<div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
    <div class="row">
        <!-- Yorum Listesi -->
        <div class="col-md-7">
            <h3 class="head">@totalReviews Değerlendirme</h3>
            @foreach (var item in Model)
            {
                <div class="review d-flex">
                    <div class="user-img" style="background-image: url(@item.CustomerImage)"></div>
                    <div class="desc">
                        <h4>
                            <span class="text-left">@item.CustomerName</span>
                            <span class="text-right">@item.ReviewDate.ToShortDateString()</span>
                        </h4>
                        <p class="star">
                            <span>
                                @for (int i = 0; i < item.RaytingValue; i++)
                                {
                                    <i class="ion-ios-star"></i>
                                }
                                @for (int i = item.RaytingValue; i < 5; i++)
                                {
                                    <i class="ion-ios-star-outline"></i>
                                }
                            </span>
                            <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                        </p>
                        <p>@item.Comment</p>
                    </div>
                </div>
            }
        </div>

        <!-- Değerlendirme Sonuçları -->
        <div class="col-md-5">
            <div class="rating-wrap">
                <h3 class="head">Değerlendirme Sonuçları</h3>
                <div class="wrap">
                    @if (totalReviews > 0)
                    {
                        @foreach (var stat in reviewStats)
                        {
                            <p class="star">
                                <span>
                                    @for (int i = 0; i < stat.Stars; i++)
                                    {
                                        <i class="ion-ios-star"></i>
                                    }
                                    (@stat.Percent%)
                                </span>
                                <span>@stat.Count Reviews</span>
                            </p>
                        }
                    }
                    else
                    {
                        <p>Henüz değerlendirme yapılmamış.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
